.scollContainer::-webkit-scrollbar     

{  
    width: 6px;  
    height:4px;   
    
}  
.scollContainer::-webkit-scrollbar-track 
{
   
    border-radius: 12px; 
    background-color: transparent;
    display:none;
    
}

 
 

.scollContainer::-webkit-scrollbar-thumb   
{  
    border-radius:12px;  
   background-color:#b5b1b1;
 
   overflow:hidden;height:whatever px;
}  */

.scollContainer {overflow-y:auto;  overflow-x:hidden;height:whatever px;} 
 .scollContainer:hover { overflow-y:auto; } 